/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0;
    margin: 0;
    --accent: #ff5f05;
    --accent-hover: #dd5c05;
    --accent-pressed: #b45305;
    --accent-blue: #0099FF;
    --inactive-grey: #EFEFEF;
    --label-grey: #B9B9B9;

    --colour-orange: var(--accent);
    --colour-green: #5fa55f;
    --colour-red: red;
    --colour-blue: var(--accent-blue);

    --base-font-size: 18px;
    --half-spacing: 10px;
    --base-spacing: 20px;
    --double-spacing: 40px;
    --width: 500px;
    font-size: var(--base-font-size);
}

p {
    margin-top: 0;
}

@import "assets/fonts/material-icons.css";

.field-title .material-icons {
    color: var(--accent);
}

.field-title .material-icons:hover {
    color: var(--accent-hover);
}

.field-title .material-icons:active {
    color: var(--accent-pressed);
}

.field-item__controls .icon-button {
    color: var(--inactive-grey);
}

.field-item:hover .field-item__controls .icon-button {
    color: var(--accent);
}

.micro-label {
    text-transform: uppercase;
    color: var(--label-grey);
    font-size: 10px;
    font-family: Courier;
}

.f-mono {
    font-family: monospace;
}
.weight-normal {
    font-weight: normal;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.c-white {
    color: white;
}
.bg-green {
    background-color: var(--colour-green);
}
.bg-blue {
    background-color: var(--accent-blue);
}
.bg-red {
    background-color: var(--colour-red);
}
.ml {
    margin-left: var(--base-spacing);
}
.mr {
    margin-right: var(--base-spacing);
}

.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}

.btn {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    height: 24px;
    line-height: 24px;
    outline: 0;
}

.ani-spin {
    animation: spin .3s infinite linear;
}

.btn:hover {
    transition: all .2s;
    transform: scale(1.1);
}
